.copyrigh__info {
    margin: 10px 0 9px;
    color: #6c6c6c;
    font-family: 'Montserrat-Bold';
    font-size: 12px;
    font-weight: 700;
    line-height: 9px;
    text-transform: uppercase;
    letter-spacing: 0.6px;
}