@import url('./navbar/navbar.css');
@import url('./textBlock/textBlock.css');

.header {
    background-image: url('../../images/slider-img.png');
    background-repeat: no-repeat;
    width: 100%;
}

.header_background {
    background-image: none;
    background-color: #f5f5f5;
    padding-bottom: 56px;
}

.header_backgroundProducts {
    background-image: none;
    background-color: #fff;
    padding-bottom: 29px;
}