@import url('./__header/product__header.css');
@import url('./__paragraph/product__paragraph.css');
@import url('./__cost/product__cost.css');
@import url('./__info/product__info.css');

.product__right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textBlock__button_color {
    background-color: #f44336;
    color: #fef1f0;
    width: 510px;
    padding: 35px 161px 34px 160px;
    margin: 31px 0 0 0;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 35px;
}
