.textBlock__info {
    width: 458px;
    color: #6c6c6c;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    margin: 0 0 26px 98px;
    letter-spacing: -0.4px;
    line-height: 24px;
}